<div class="container">
  <h1>List index</h1>
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-product">
        <div class="card-product-infos">
          <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<% list.photo.attched ? cl_image_path(list.photo.key, height: 300, crop: :fill) : list.poster_url)"> %>
          <h2><%= list.name %></h2>
          <%=  image_tag list.photo if list.photo.attached? %>
          <%# </div> %>
          <%#= render 'lists/card' %>
          <%= link_to 'See detail', list_path(list) %>
          <%= link_to 'DESTROY IT', list_path(list), method: :delete, data: { confirm: "Are you sure? #{list.name}" } %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'NEW LIST', new_list_path %>

</div>
