<h1 class="web-font-bg p-4">MOVIE WATCHLIST</h1>
<div class="container p-4">
  <div class="cards">
    <% @lists.each do |list| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : "app/assets/images/test_img.jpeg" %>)">
          <div class="card-product-infos">
            <h2><%= list.name %></h2>
            <div class="button-overlay d-flex justify-content-around align-items-end pb-5">
            <%= list.movies.count %>
              <%= link_to list_path(list), class: 'text-white' do %>
                <i class="fas fa-check"></i> See details
              <% end %>
              <%= link_to list_path(list), method: :delete, data: { confirm: "Are you sure? #{list.name}" } do %>
              <i class="fas fa-trash"></i>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="py-4">
    <%= link_to new_list_path, class: 'btn btn-outline-secondary' do %>
    <i class="fas fa-pencil-alt"></i>  NEW LIST
    <% end %>
  </div>
</div>
